# Data Cleaning
Aqui vamos realizar toda a etapa de limpeza dos dados para nossa analise de dados

# Importando bibliotecas

In [39]:
# bibliotecas
import numpy as np
import pandas as pd
import datetime

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import altair as alt

import seaborn as sns
#sns.set_style('white')
plt.style.use('seaborn-white')

# Importar os conjuntos de dados

In [40]:
# importar os conjuntos de dados

# game: Reúne os registros de cada jogo no conjunto de dados
game = pd.read_csv("nhl_datasets/game.csv")

# game_golie_stats: As estatísticas dos goleiros que participaram dos jogos
game_golie_stats = pd.read_csv("nhl_datasets/game_goalie_stats.csv")

# game_teams_stats: As estatísticas básicas das equipes. Cada jogo terá duas entradas nesta tabela, uma para cada equipe
game_teams_stats = pd.read_csv("nhl_datasets/game_teams_stats.csv")

# player_info: Informações sobre os jogadores
player_info = pd.read_csv("nhl_datasets/player_info.csv")

# team_info: informação sobre as equipes
team_info = pd.read_csv("nhl_datasets/team_info.csv")

## Primeiras entradas

In [41]:
game.head(3)

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
1,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,home win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT

In [42]:
game.dtypes

game_id                    int64
season                     int64
type                      object
date_time                 object
date_time_GMT             object
away_team_id               int64
home_team_id               int64
away_goals                 int64
home_goals                 int64
outcome                   object
home_rink_side_start      object
venue                     object
venue_link                object
venue_time_zone_id        object
venue_time_zone_offset     int64
venue_time_zone_tz        object
dtype: object

In [43]:
team_info.head(3)

   team_id  franchiseId     shortName teamName abbreviation              link
0        1           23    New Jersey   Devils          NJD   /api/v1/teams/1
1        4           16  Philadelphia   Flyers          PHI   /api/v1/teams/4
2       26           14   Los Angeles    Kings          LAK  /api/v1/teams/26

In [44]:
team_info.dtypes

team_id          int64
franchiseId      int64
shortName       object
teamName        object
abbreviation    object
link            object
dtype: object

In [45]:
game_teams_stats.head(3)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,1,away,False,OT,Peter DeBoer,3,26,31,12,3,1,44.9,6,7
1,2011030221,4,home,True,OT,Peter Laviolette,4,36,27,6,6,1,55.1,13,4
2,2011030222,1,away,True,REG,Peter DeBoer,4,35,32,12,4,0,50.9,8,7

In [46]:
game_teams_stats.dtypes

game_id                     int64
team_id                     int64
HoA                        object
won                          bool
settled_in                 object
head_coach                 object
goals                       int64
shots                       int64
hits                        int64
pim                         int64
powerPlayOpportunities      int64
powerPlayGoals              int64
faceOffWinPercentage      float64
giveaways                   int64
takeaways                   int64
dtype: object

In [47]:
player_info.head()

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,link
0,8467412,Alexei,Ponikarovsky,UKR,Kiev,LW,1980-04-09,/api/v1/people/8467412
1,8468501,Anton,Volchenkov,RUS,Moscow,D,1982-02-25,/api/v1/people/8468501
2,8459670,Kimmo,Timonen,FIN,Kuopio,D,1975-03-18,/api/v1/people/8459670
3,8471233,Travis,Zajac,CAN,Winnipeg,C,1985-05-13,/api/v1/people/8471233
4,8455710,Martin,Brodeur,CAN,Montreal,G,1972-05-06,/api/v1/people/8455710

In [48]:
player_info.dtypes

player_id           int64
firstName          object
lastName           object
nationality        object
birthCity          object
primaryPosition    object
birthDate          object
link               object
dtype: object

In [49]:
game_golie_stats.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,2011030221,8455710,1,3876,0,0,0,36,32,7,0,25,0,28,8,L,88.888889,87.5,89.285714
1,2011030221,8468524,4,3876,0,0,0,26,23,4,5,14,5,16,5,W,88.461538,80.0,87.500000
2,2011030222,8455710,1,3599,0,0,0,20,19,1,3,15,3,16,1,W,95.000000,100.0,93.750000
3,2011030222,8468524,4,3559,0,0,0,34,31,6,0,25,0,28,6,L,91.176471,100.0,89.285714
4,2011030223,8468524,4,4623,0,0,0,31,27,1,1,25,1,28,2,L,87.096774,50.0,89.285714

In [50]:
game_golie_stats.dtypes

game_id                         int64
player_id                       int64
team_id                         int64
timeOnIce                       int64
assists                         int64
goals                           int64
pim                             int64
shots                           int64
saves                           int64
powerPlaySaves                  int64
shortHandedSaves                int64
evenSaves                       int64
shortHandedShotsAgainst         int64
evenShotsAgainst                int64
powerPlayShotsAgainst           int64
decision                       object
savePercentage                float64
powerPlaySavePercentage       float64
evenStrengthSavePercentage    float64
dtype: object

Os conjuntos de dados `game_skater_stats`, `game_plays`, `game_plays_players` são bem grandes cerca de 400mil, 2 milhões e 5 milhões de observações respectivamente. Por isso, vamos utilizar o parâmetro *chunksize* quando formos importá-los com a função *pd.read_csv()* isso vai fazer com que o pandas leia nosso conjunto de dados em blocos, este definido pelo usuário, assim não sobrecarregando nossa memória. Depois vamos iterar sobre cada bloco e concatenar em um único DataFrame.

In [51]:
# importando game_skater_stats
game_skater_stats = pd.read_csv("nhl_datasets/game_skater_stats.csv", chunksize=5000)

chunk_list = []  # lista que vai armazenar os blocos

# iterar sobre os blocos
for chunk in game_skater_stats:
    
    # armazenando os blocos
    chunk_list.append(chunk)

# concatenando os blocos
game_skater_stats = pd.concat(chunk_list)

In [52]:
# carregando conjunto de dados game_plays
game_plays = pd.read_csv("nhl_datasets/game_plays.csv", chunksize=5000)

chunk_list = []  # lista que vai armazenar os blocos

# iterar sobre os blocos
for chunk in game_plays:
    
    # armazenando os blocos
    chunk_list.append(chunk)

# concatenando os blocos
game_plays = pd.concat(chunk_list)

In [53]:
# carregando conjunto de dados game_plays_players
game_plays_players = pd.read_csv("nhl_datasets/game_plays_players.csv", chunksize=5000)

chunk_list = []  # lista que vai armazenar os blocos

# iterar sobre os blocos
for chunk in game_plays_players:
    
    # armazenando os blocos
    chunk_list.append(chunk)

# concatenando os blocos
game_plays_players = pd.concat(chunk_list)

Nosso objetivo nesta etapa é preparar os conjuntos de dados para a análise exploratória de dados. Algumas acoes que vamos realizar:
* Relacionar os conjuntos de dados `game` com `game_team_stats` e `game_plays` com `game_plays_players`.
* Mapear os valores dos conjuntos de dados `player_info` e `team_info` e utilizar para deixar os outros conjuntos de dados mais legiveis.
* Excluir features desnecessárias.
* Criar novas features
* Exportar os conjuntos de dados.

***English Version***

Our goal at this stage is to prepare the data sets for exploratory data analysis. Some actions that we will perform:
* Relate the `game` data sets to `game_team_stats` and `game_plays` to `game_plays_players`.
* Map the values of `player_info` and `team_info` data sets and use it to make the other data sets more readable.
* Exclude unnecessary features.
* Create new features
* Export the data sets.

# Ralacionando os conjuntos de dados
Os conjuntos de dados `game` e `game_team_stats` podem ser combinados utilizando a variável `game_id`. Vamos nomear esse novo conjunto de `nhl_eda`. Ele vai ser o conjunto de dados que usaremos para analisar os times em relação ao número de jogos, vitórias, gols entre outras variáveis. Outro conjunto de dados que vamos criar e o `plays` ele vai ser a juncao dos conjuntos de dados `game_plays` e `game_plays_players` utilizando a variável `play_id`. O utilizaremos para extrair informações e gerar visualizações sobre os eventos ocorridos nos jogos como, faltas, gols, golpes(*hits*) entre outros. Os conjuntos de dados `game_skater_stats` e `game_golie_stats` vao servir paras as análises individuais a respeito dos jogadores como, por exemplo, pontos, gols, assistências e etc.

**Para combinar os conjuntos de dados utilizaremos a função do pandas *.merge()* onde passamos os conjuntos de dados que vamos unir e em qual coluna/variável queremos que esse *merge* aconteça**.

In [54]:
# merge game com game_teams_stats
nhl_eda = pd.merge(game, game_teams_stats, on='game_id')

In [55]:
# visualizando as primeiras entradas
nhl_eda.head()

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,1,away,False,OT,Peter DeBoer,3,26,31,12,3,1,44.9,6,7
1,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,4,home,True,OT,Peter Laviolette,4,36,27,6,6,1,55.1,13,4
2,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,1,away,True,REG,Peter DeBoer,4,35,32,12,4,0,50.9,8,7
3,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,4,home,False,REG,Peter Laviolette,1,20,24,32,5,0,49.1,9,6
4,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,home win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT,4,away,False,OT,Peter Laviolette,3,28,28,4,5,1,50.8,2,1

In [56]:
# merge game_plays e game_plays_players
plays = pd.merge(game_plays, game_plays_players[['player_id', 'play_id']], on='play_id')

# visualizando primeiras 5 entradas
plays.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side,player_id
0,2011030221_4,2011030221,4,4.0,1.0,Faceoff,NaN,0.0,0.0,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Sean Couturier faceoff won against Patrik Elias,0.0,0.0,right,8476461
1,2011030221_4,2011030221,4,4.0,1.0,Faceoff,NaN,0.0,0.0,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Sean Couturier faceoff won against Patrik Elias,0.0,0.0,right,8460542
2,2011030221_5,2011030221,5,4.0,1.0,Giveaway,NaN,28.0,24.0,1,REGULAR,21,1179,2012-04-29 19:21:02,0,0,Giveaway by Kimmo Timonen,-28.0,-24.0,right,8459670
3,2011030221_6,2011030221,6,4.0,1.0,Blocked Shot,NaN,52.0,28.0,1,REGULAR,26,1174,2012-04-29 19:21:07,0,0,Max Talbot blocked shot from Patrik Elias,-52.0,-28.0,right,8470171
4,2011030221_6,2011030221,6,4.0,1.0,Blocked Shot,NaN,52.0,28.0,1,REGULAR,26,1174,2012-04-29 19:21:07,0,0,Max Talbot blocked shot from Patrik Elias,-52.0,-28.0,right,8460542

# Preparando os dados
As variáveis: `away_team_id`, `home_team_id`, `team_id`, `player_id` categorizam os times e os jogadores através de números únicos (*id*) como mostrado nos conjuntos de dados [`team_info`, `player_info`]. Isso deixa nossas análises menos legíveis porque sempre vamos precisar recorrer a estes conjuntos de dados para identificar seus valores. Uma alternativa para essa questão e mapear esses números identificadores aos respectivos valores e substitui-los no conjunto de dados que vamos utilizar para nossa análise exploratória.

Existem diversas formas de abordar essa questão. No meu caro criarei um dicionário com a função `to_dict()`. Onde nossa chave (*key*) será o número identificador (*id*) e os valores (*value*) o nome do time ou jogador. Para substituir os valores vamos selecionar a coluna no conjunto de dados e chamar a função `replace()` passando como parâmetro nosso dicionário.

Para o dicionário que vai conter o nome dos jogadores, vamos criar uma coluna no conjunto de dados denominada `full_name` que vai ser a junção da variável `firstName` e `lastName`. Assim nosso o número identificador vai ficar associado ao nome completo do jogador. Realizaremos esse procedimento para evitar sobrenomes (`lastName`) iguais.


**Obs:. Para não criar confusão vamos trabalhar em um conjunto de dados por vez**

## Mapeando valores

In [57]:
# Dicionário dos times
team_dict = team_info.set_index('team_id')['teamName'].to_dict()

# visualizando dicionario team_dict
team_dict

{1: 'Devils',
 4: 'Flyers',
 26: 'Kings',
 14: 'Lightning',
 6: 'Bruins',
 3: 'Rangers',
 5: 'Penguins',
 17: 'Red Wings',
 28: 'Sharks',
 18: 'Predators',
 23: 'Canucks',
 16: 'Blackhawks',
 9: 'Senators',
 8: 'Canadiens',
 30: 'Wild',
 15: 'Capitals',
 19: 'Blues',
 24: 'Ducks',
 27: 'Coyotes',
 2: 'Islanders',
 10: 'Maple Leafs',
 13: 'Panthers',
 7: 'Sabres',
 20: 'Flames',
 21: 'Avalanche',
 25: 'Stars',
 29: 'Blue Jackets',
 52: 'Jets',
 22: 'Oilers',
 54: 'Golden Knights',
 12: 'Hurricanes',
 53: 'Coyotes',
 11: 'Thrashers'}

In [58]:
# criando coluna que vai conter o primeiro e o ultimo nome
player_info['player_name'] = player_info['firstName'] + " " + player_info['lastName']

# dict onde key=player-id e value=nome
player_dict = player_info.set_index('player_id')['player_name'].to_dict()

# visualizando dicionario player_dict
player_dict

{8467412: 'Alexei Ponikarovsky',
 8468501: 'Anton Volchenkov',
 8459670: 'Kimmo Timonen',
 8471233: 'Travis Zajac',
 8455710: 'Martin Brodeur',
 8475640: 'Erik Gustafsson',
 8476177: 'Matt Read',
 8464977: 'Dainius Zubrus',
 8474190: 'Wayne Simmonds',
 8464975: 'Daniel Briere',
 8468534: 'Andreas Lilja',
 8475603: 'Ben Holmstrom',
 8472410: 'Stephen Gionta',
 8474037: 'James van Riemsdyk',
 8473542: 'Tom Sestito',
 8476457: 'Adam Larsson',
 8474631: 'Marc-Andre Bourdon',
 8472382: 'Andy Greene',
 8474641: 'Adam Henrique',
 8474161: 'Jakub Voracek',
 8475972: 'Tyler Brown',
 8476461: 'Sean Couturier',
 8460720: 'Eric Boulton',
 8469454: 'Ilya Kovalchuk',
 8475170: 'Brayden Schenn',
 8468524: 'Ilya Bryzgalov',
 8470609: 'Steve Bernier',
 8465210: 'Pavel Kubina',
 8471816: 'Mark Fayne',
 8468486: 'Scott Hartnell',
 8470123: 'Cam Janssen',
 8470640: 'Matt Carle',
 8473512: 'Claude Giroux',
 8475775: 'Tye McGinn',
 8470920: 'David Clarkson',
 8470601: 'Braydon Coburn',
 8475342: 'Oliver Lauridsen',
 8470171: 'Max Talbot',
 8474892: 'Eric Wellwood',
 8476158: 'Harry Zolnierczyk',
 8475185: 'Jacob Josefson',
 8472394: 'Peter Harrold',
 8462535: 'Jody Shelley',
 8448208: 'Jaromir Jagr',
 8469623: 'Marek Zidlicky',
 8468038: 'Michael Leighton',
 8474736: 'Zac Rinaldo',
 8473646: 'Ryan Carter',
 8471269: 'Nicklas Grossmann',
 8471467: 'Matthew Ford',
 8470610: 'Zach Parise',
 8475430: 'Brandon Manning',
 8460626: 'Bryce Salvador',
 8460465: 'Petr Sykora',
 8460542: 'Patrik Elias',
 8471636: 'Tim Sestito',
 8476209: 'Mike Sislo',
 8471712: 'Jeff Frazee',
 8471236: 'Andrej Meszaros',
 8473580: 'Matthew Corrente',
 8471365: 'Steven Zalewski',
 8473944: 'Matt Anderson',
 8475248: 'Alexander Urbom',
 8473592: 'Vladimir Zharkov',
 8467436: 'Jay Leach',
 8476234: 'Keith Kinkaid',
 8475060: 'Matt Taormina',
 8473927: 'Brad Mills',
 8474614: 'Brandon Burlon',
 8474219: 'Dan Kelly',
 8475199: 'Eric Gelinas',
 8474023: 'Mike Hoeffel',
 8474582: 'Mattias Tedenby',
 8467452: 'Rob Scuderi',
 8471718: 'Marc-Andre Cliche',
 8470662: 'Colin Fraser',
 8476404: 'Andy Andreoff',
 8474594: 'Slava Voynov',
 8475160: 'Kyle Clifford',
 8471208: 'Dustin Penner',
 8474518: 'Davis Drewiske',
 8473908: 'Kevin Westgarth',
 8465185: 'Willie Mitchell',
 8471685: 'Anze Kopitar',
 8473664: 'Justin Azevedo',
 8475726: 'Tyler Toffoli',
 8474638: 'Andrew Campbell',
 8470755: 'Brad Richardson',
 8475325: 'Jordan Nolan',
 8474563: 'Drew Doughty',
 8474162: 'Jake Muzzin',
 8475096: 'Patrick Mullen',
 8474166: 'Alec Martinez',
 8474681: 'Andrei Loktionov',
 8468526: 'Jarret Stoll',
 8470604: 'Jeff Carter',
 8470606: 'Dustin Brown',
 8474889: 'Martin Jones',
 8470121: 'Matt Greene',
 8466182: 'Henrik Tallinder',
 8471733: 'Rich Clune',
 8471734: 'Jonathan Quick',
 8475223: 'Linden Vey',
 8467346: 'Simon Gagne',
 8470617: 'Mike Richards',
 8473453: 'Trevor Lewis',
 8474100: 'Dwight King',
 8474066: 'Thomas Hickey',
 8468508: 'Justin Williams',
 8473419: 'Brad Marchand',
 8470905: 'Randy Jones',
 8474749: 'Matt Bartkowski',
 8471717: 'Adam McQuaid',
 8471916: 'Mike Angelidis',
 8471276: 'David Krejci',
 8470187: 'Johnny Boychuk',
 8471514: 'Rich Peverley',
 8471314: 'Mike Lundin',
 8475167: 'Victor Hedman',
 8470230: 'Daniel Paille',
 8467925: 'Adam Hall',
 8469765: 'Marc-Andre Bergeron',
 8467329: 'Vincent Lecavalier',
 8467967: 'Chris Kelly',
 8470638: 'Patrice Bergeron',
 8468575: 'Dominic Moore',
 8450725: 'Mark Recchi',
 8470596: 'Nathan Horton',
 8471767: 'Blair Jones',
 8470634: 'Matt Smaby',
 8474682: 'Dustin Tokarski',
 8460806: 'Dwayne Roloson',
 8474564: 'Steven Stamkos',
 8474002: 'Colby Cohen',
 8473473: 'Milan Lucic',
 8474000: 'Steven Kampfer',
 8465978: 'Shawn Thornton',
 8471418: 'Anton Khudobin',
 8469619: 'Dennis Seidenberg',
 8465056: 'Trent Whitfield',
 8466142: 'Eric Brewer',
 8470804: 'Mathieu Roy',
 8470169: 'Gregory Campbell',
 8474095: 'Dana Tyrell',
 8465009: 'Zdeno Chara',
 8467988: 'Ryan Malone',
 8470615: 'Marc-Antoine Pouliot',
 8467545: 'Michael Ryder',
 8465200: 'Tomas Kaberle',
 8466333: 'Andrew Ference',
 8471703: 'Steve Downie',
 8466378: 'Martin St. Louis',
 8465122: 'Brett Clark',
 8474657: 'Jamie Arniel',
 8473962: 'Teddy Purcell',
 8470176: 'Sean Bergenheim',
 8471668: 'Mattias Ritola',
 8470775: 'Nate Thompson',
 8475794: 'Tyler Seguin',
 8460703: 'Tim Thomas',
 8460503: 'Mattias Ohlund',
 8475150: 'Jordan Caron',
 8460661: 'Shane Hnidy',
 8469608: 'Mike Smith',
 8471958: 'Dan Girardi',
 8471873: 'Anton Stralman',
 8473932: 'Darroll Powe',
 8475118: 'Matt Gilroy',
 8470192: 'Steve Eminger',
 8475243: 'Ryan Bourque',
 8474230: 'Micheal Haley',
 8474151: 'Ryan McDonagh',
 8458938: 'Roman Hamrlik',
 8462033: 'Wade Redden',
 8465025: 'Arron Asham',
 8467881: 'Taylor Pyatt',
 8473544: 'Derick Brassard',
 8471686: 'Marc Staal',
 8470232: 'Kris Newbury',
 8474678: 'Jason Missiaen',
 8475692: 'Mats Zuccarello',
 8476462: 'Dougie Hamilton',
 8470041: 'Rick Nash',
 8469534: 'Aaron Johnson',
 8471339: 'Ryan Callahan',
 8468685: 'Henrik Lundqvist',
 8459454: 'Jay Pandolfo',
 8473432: 'Derek Dorsett',
 8471695: 'Tuukka Rask',
 8476468: 'J.T. Miller',
 8474772: 'Stu Bickel',
 8474850: 'Brandon Mashinter',
 8475184: 'Chris Kreider',
 8475186: 'John Moore',
 8476792: 'Torey Krug',
 8473484: 'Kaspars Daugavins',
 8474176: 'Carl Hagelin',
 8475660: 'Cam Talbot',
 8471262: 'Carl Soderberg',
 8469622: 'Ryane Clowe',
 8467389: 'Brad Richards',
 8470619: 'Brian Boyle',
 8474613: 'Derek Stepan',
 8475749: 'Christian Thomas',
 8474584: 'Michael Del Zotto',
 8475795: 'Dylan McIlrath',
 8469755: 'Brandon Segal',
 8476844: 'Niklas Svedberg',
 8465951: 'Matt Cooke',
 8469638: 'Jussi Jokinen',
 8468542: 'Paul Martin',
 8462042: 'Jarome Iginla',
 8471311: 'Tyler Kennedy',
 8471675: 'Sidney Crosby',
 8466160: 'Brenden Morrow',
 8470543: 'Chris Kunitz',
 8476211: 'Carter Camper',
 8475761: 'Beau Bennett',
 8471724: 'Kris Letang',
 8468498: 'Brooks Orpik',
 8466393: 'Pascal Dupuis',
 8471246: 'Chris Bourque',
 8471856: 'Joe Vitale',
 8471215: 'Evgeni Malkin',
 8460712: 'Tomas Vokoun',
 8474091: 'Brandon Sutter',
 8471702: 'Matt Niskanen',
 8468114: 'Douglas Murray',
 8465166: 'Craig Adams',
 8468674: 'Deryk Engelland',
 8471707: 'James Neal',
 8474138: 'Dustin Jeffrey',
 8467580: 'Mark Eaton',
 8470854: 'Tanner Glass',
 8475155: 'Simon Despres',
 8474145: 'Robert Bortuzzo',
 8470594: 'Marc-Andre Fleury',
 8473553: 'Jeff Zatkoff',
 8471716: 'Justin Abdelkader',
 8471956: 'Andrew Desjardins',
 8467331: 'Brad Stuart',
 8470861: 'Sean Sullivan',
 8467096: 'Dan Boyle',
 8474027: 'Justin Braun',
 8471794: 'Darren Helm',
 8470622: 'Patrick Eaves',
 8459514: 'Jamal Mayers',
 8474667: 'Harri Sateri',
 8474550: 'Antti Niemi',
 8474032: 'Nick Petrecki',
 8475202: 'Taylor Doherty',
 8470273: 'Ian White',
 8471682: 'Devin Setoguchi',
 8467928: 'Doug Janik',
 8446485: 'Kris Draper',
 8470318: 'Jonathan Ericsson',
 8468577: 'Niclas Wallin',
 8475607: 'Cameron MacIntyre',
 8470794: 'Joe Pavelski',
 8473465: 'Jamie McGinn',
 8470280: 'Ben Eager',
 8471693: 'Jakub Kindl',
 8464962: 'Ruslan Salei',
 8467514: 'Pavel Datsyuk',
 8466149: 'Daniel Cleary',
 8467478: 'Kent Huskins',
 8470201: 'Jiri Hudler',
 8470047: 'Valtteri Filppula',
 8468482: 'Dany Heatley',
 8468083: 'Henrik Zetterberg',
 8471338: 'Torrey Mitchell',
 8473558: 'Cory Emmerton',
 8474053: 'Logan Couture',
 8469581: 'Kyle Wellwood',
 8473562: 'John McCarthy',
 8474090: 'Brendan Smith',
 8466139: 'Patrick Marleau',
 8471309: 'Johan Franzen',
 8466138: 'Joe Thornton',
 8470778: 'Drew Miller',
 8470657: 'Jimmy Howard',
 8471306: 'Thomas Greiss',
 8457063: 'Nicklas Lidstrom',
 8471709: 'Marc-Edouard Vlasic',
 8474739: 'Tommy Wingels',
 8459687: 'Scott Nichol',
 8473600: 'Benn Ferriero',
 8475625: 'Matt Irwin',
 8459444: 'Todd Bertuzzi',
 8475346: 'Marek Viedensky',
 8475622: 'Carter Hutton',
 8473569: 'Jan Mursak',
 8474218: 'Jason Demers',
 8470061: 'Derek Meech',
 8460743: 'Tomas Holmstrom',
 8468509: 'Niklas Kronwall',
 8475193: 'Tomas Tatar',
 8467856: 'Brian Rafalski',
 8449645: 'Mike Modano',
 8467876: 'Henrik Sedin',
 8471859: 'Sergei Kostitsyn',
 8467875: 'Daniel Sedin',
 8467330: 'David Legwand',
 8468485: 'Raffi Torres',
 8474569: 'Colin Wilson',
 8471498: 'Jannik Hansen',
 8466141: 'Roberto Luongo',
 8468064: 'Martin Erat',
 8467370: 'Mike Fisher',
 8468162: 'Jerred Smithson',
 8470600: 'Ryan Suter',
 8471811: "Cal O'Reilly",
 8470642: 'Shea Weber',
 8470620: 'Jeff Tambellini',
 8474096: 'Nick Spaling',
 8460719: 'Steve Sullivan',
 8470054: 'Keith Ballard',
 8470274: 'Chris Higgins',
 8474570: 'Cody Hodgson',
 8469465: 'Dan Hamhuis',
 8464957: 'J-P Dumont',
 8474094: 'Matt Halischuk',
 8469547: 'Jordin Tootoo',
 8473608: 'Blake Geoffrion',
 8469626: 'Andrew Alberts',
 8465202: 'Sami Salo',
 8470616: 'Ryan Kesler',
 8470839: "Shane O'Brien",
 8467463: 'Mikael Samuelsson',
 8470310: 'Aaron Rome',
 8470630: 'Kevin Klein',
 8471664: 'Mason Raymond',
 8471268: 'Victor Oreskovich',
 8471887: 'Patric Hornqvist',
 8471469: 'Pekka Rinne',
 8470358: 'Alexandre Burrows',
 8471742: 'Cody Franson',
 8471303: 'Alexander Edler',
 8470654: 'Maxim Lapierre',
 8474164: 'Jonathon Blum',
 8469598: 'Kevin Bieksa',
 8469555: 'Christian Ehrhoff',
 8468208: 'Joel Ward',
 8471741: 'Teemu Laakso',
 8474580: 'Chet Pickard',
 8474535: 'Chris Mueller',
 8474629: 'Shawn Lalonde',
 8474625: 'Jimmy Hayes',
 8470666: 'Daniel Carcillo',
 8476403: 'Klas Dahlbeck',
 8473537: 'Viktor Stalberg',
 8477225: 'Jared Coreau',
 8475323: 'Marcus Kruger',
 8471769: 'Niklas Hjalmarsson',
 8474679: 'Gustav Nyquist',
 8471245: 'Dave Bolland',
 8475204: 'Brandon Pirri',
 8475650: 'Brandon Bollig',
 8470281: 'Duncan Keith',
 8474168: 'Joakim Andersson',
 8476381: 'Andrew Shaw',
 8468927: 'Steve Montador',
 8466148: 'Marian Hossa',
 8470724: 'Kyle Quincey',
 8465058: 'Michal Rozsival',
 8474727: 'Ben Smith',
 8470607: 'Brent Seabrook',
 8471254: 'Bryan Bickell',
 8475214: 'Jeremy Morin',
 8470645: 'Corey Crawford',
 8476431: 'Adam Clendening',
 8475181: 'Nick Leddy',
 8469544: 'Patrick Sharp',
 8469665: 'Johnny Oduya',
 8473564: 'Michael Frolik',
 8473604: 'Jonathan Toews',
 8476438: 'Brandon Saad',
 8477059: 'Damien Brunner',
 8474141: 'Patrick Kane',
 8475431: 'Henrik Karlsson',
 8469470: 'Carlo Colaiacovo',
 8475114: 'Jordan Pearce',
 8475598: 'Ryan Stanton',
 8475153: 'Dylan Olsen',
 8469992: 'Sheldon Brookbank',
 8462129: 'Michal Handzus',
 8471719: 'Matt Kassian',
 8467496: 'Andrei Markov',
 8467493: 'Chris Neil',
 8475797: 'Jarred Tinordi',
 8471679: 'Carey Price',
 8476851: 'Alex Galchenyuk',
 8474157: 'Max Pacioretty',
 8475164: 'Jakob Silfverberg',
 8471283: 'Brandon Prust',
 8469521: 'Tomas Plekanec',
 8467407: 'Brian Gionta',
 8473468: 'Eric Gryba',
 8473588: 'Erik Condra',
 8476419: 'Jean-Gabriel Pageau',
 8473466: 'Ryan White',
 8475848: 'Brendan Gallagher',
 8476459: 'Mika Zibanejad',
 8470599: 'Milan Michalek',
 8475254: 'Gabriel Dumont',
 8471296: 'Alexei Emelin',
 8475174: 'Jared Cowen',
 8467831: 'Jeff Halpern',
 8467950: 'Craig Anderson',
 8475739: 'Michael Bournival',
 8470760: 'Marc Methot',
 8471299: 'Peter Regin',
 8474605: 'Patrick Wiercioch',
 8474884: 'Mike Hoffman',
 8471976: 'David Desharnais',
 8474688: 'Greg Pateryn',
 8470324: 'Josh Gorges',
 8474250: 'Zack Smith',
 8474134: 'Yannick Weber',
 8474056: 'P.K. Subban',
 8464956: 'Chris Phillips',
 8476195: 'Cory Conacher',
 8476470: 'Nathan Beaulieu',
 8475183: 'Louis Leblanc',
 8468635: 'Travis Moen',
 8471504: 'Rene Bourque',
 8471229: 'Petteri Nokelainen',
 8471663: 'Mike Blunden',
 8471862: 'Colin Greening',
 8458951: 'Sergei Gonchar',
 8474775: 'Robert Mayer',
 8474578: 'Erik Karlsson',
 8470378: 'Andre Benoit',
 8476244: 'Raphael Diaz',
 8471670: 'Guillaume Latendresse',
 8474068: 'Kyle Turris',
 8474024: "Jim O'Brien",
 8474189: 'Lars Eller',
 8469474: 'Colby Armstrong',
 8460621: 'Daniel Alfredsson',
 8465914: 'Francis Bouillon',
 8475913: 'Mark Stone',
 8476205: 'Stephane Da Costa',
 8474683: 'Derek Grant',
 8476386: 'Shane Prince',
 8475661: 'Dave Dziurzynski',
 8476477: 'Matt Puempel',
 8476474: 'Stefan Noesen',
 8476879: 'Cody Ceci',
 8474855: 'Nathan Lawson',
 8474697: 'Mark Borowiecki',
 8469514: 'Peter Budaj',
 8467336: 'Mike Rupp',
 8470104: 'Tom Gilbert',
 8470153: 'Pierre-Marc Bouchard',
 8474716: 'Jared Spurgeon',
 8473504: 'Cal Clutterbuck',
 8475722: 'Jason Zucker',
 8473992: 'Justin Falk',
 8476463: 'Jonas Brodin',
 8469459: 'Mikko Koivu',
 8470803: 'Kyle Brodziak',
 8470886: 'Clayton Stoner',
 8475613: 'Nate Prosser',
 8469820: 'Zenon Konopka',
 8469548: 'Ray Emery',
 8469506: 'Jason Pominville',
 8474618: 'Marco Scandella',
 8470216: 'Josh Harding',
 8475745: 'Charlie Coyle',
 8464989: 'Matt Cullen',
 8473404: 'Niklas Backstrom',
 8475798: 'Mikael Granlund',
 8469542: 'Stephane Veilleux',
 8471352: 'Jake Dowell',
 8475757: 'Brett Bulmer',
 8470074: 'Jeff Deslauriers',
 8474077: 'Carson McMillan',
 8471885: 'Chad Rau',
 8476856: 'Matt Dumba',
 8475311: 'Darcy Kuemper',
 8476481: 'Zack Phillips',
 8476235: 'Justin Fontaine',
 8473445: 'Kyle Medvec',
 8473618: 'Mathieu Perreault',
 8469639: 'Brooks Laich',
 8459429: 'Jason Arnott',
 8474590: 'John Carlson',
 8471242: 'Mike Green',
 8471240: 'Jeff Schultz',
 8464979: 'Marco Sturm',
 8468611: 'Matt Hendricks',
 8466158: 'Scott Hannan',
 8467365: 'John Erskine',
 8470159: 'Boyd Gordon',
 8473991: 'Karl Alzner',
 8470120: 'Alexander Semin',
 8469770: 'Dennis Wideman',
 8468846: 'Tyler Sloan',
 8465059: 'Matt Bradley',
 8473913: 'Sean Collins',
 8473911: 'Steven Pinizzotto',
 8471214: 'Alex Ovechkin',
 8474651: 'Braden Holtby',
 8473563: 'Nicklas Backstrom',
 8471780: 'Patrick McNeill',
 8470294: 'DJ King',
 8474291: 'Jay Beagle',
 8473607: 'Michal Neuvirth',
 8458590: 'Mike Knuble',
 8466251: 'Jason Chimera',
 8470611: 'Eric Fehr',
 8475149: 'Marcus Johansson',
 8473936: 'Kirk MacDonald',
 8475683: 'Sergei Bobrovsky',
 8474551: 'Ville Leino',
 8475283: 'Lane MacDermid',
 8467408: 'Matt Walker',
 8475080: 'Johan Backlund',
 8474636: 'Michael Hutchinson',
 8467361: 'Blair Betts',
 8459424: 'Chris Pronger',
 8470597: 'Nikolay Zherdev',
 8470996: 'Danny Syvret',
 8474163: 'Kevin Marshall',
 8473550: 'Andrew Bodnarchuk',
 8474045: 'Zach Hamill',
 8466145: 'Nick Boynton',
 8473556: 'Yury Alexandrov',
 8475614: 'Mike Testwuide',
 8458637: "Sean O'Donnell",
 8467905: 'Michael Ryan',
 8462052: 'Brian Boucher',
 8471346: 'Kris Versteeg',
 8473568: 'Andreas Nodl',
 8476406: 'Nick Shore',
 8467890: 'Barret Jackman',
 8473534: 'Patrik Berglund',
 8471710: 'Taylor Chorney',
 8474031: 'Kevin Shattenkirk',
 8474596: 'Jake Allen',
 8469480: 'Jeff Woywitka',
 8470151: 'Jay Bouwmeester',
 8469685: 'Andrew Murray',
 8471729: 'Kris Russell',
 8475768: 'Jaden Schwartz',
 8470871: 'Chris Porter',
 8475765: 'Vladimir Tarasenko',
 8474634: 'Evgeny Grachev',
 8471490: 'Adam Cracknell',
 8467917: 'Jordan Leopold',
 8471817: 'Ryan Reaves',
 8470880: 'Brian Elliott',
 8474565: 'Alex Pietrangelo',
 8471698: 'T.J. Oshie',
 8473485: 'Chris Stewart',
 8474013: 'Ian Cole',
 8468434: 'Andy McDonald',
 8467344: 'Robyn Regehr',
 8475825: 'Jani Hakanpaa',
 8470655: 'David Backes',
 8476436: 'Dmitrij Jaskin',
 8470257: 'Alexander Steen',
 8471743: 'Vladimir Sobotka',
 8471392: 'Roman Polak',
 8474184: 'Keaton Ellerby',
 8474102: 'David Perron',
 8475234: 'J-F Berube',
 8474626: 'Robert Czarnik',
 8476772: "Brian O'Neill",
 8475295: 'Brandon Kozun',
 8475738: 'Jordan Weal',
 8476871: 'Tanner Pearson',
 8475235: 'Nicolas Deslauriers',
 8471476: 'Daniel Winnik',
 8470860: 'Jaroslav Halak',
 8468213: 'Jim Vandermeer',
 8474001: 'TJ Galiardi',
 8470647: 'B.J. Crombeen',
 8459457: 'Jamie Langenbrunner',
 8471851: "Matt D'Agostini",
 8468515: 'Brad Winchester',
 8465005: 'Colin White',
 8470613: 'Brent Burns',
 8467899: 'Martin Havlat',
 8471842: 'Tim Kennedy',
 8471774: 'Alex Stalock',
 8474531: 'Mike Moore',
 8471677: 'Jack Johnson',
 8460496: 'Ryan Smyth',
 8474114: 'Oscar Moller',
 8467511: 'Antero Niittymaki',
 8471386: 'Scott Parse',
 8468700: 'Paul Gaustad',
 8472368: 'Chris Conner',
 8459628: 'Hal Gill',
 8474519: 'Jack Hillen',
 8475772: 'Riley Sheahan',
 8471450: 'Brandon Yip',
 8475176: 'Ryan Ellis',
 8469732: 'Joey MacDonald',
 8470603: 'Andrei Kostitsyn',
 8474600: 'Roman Josi',
 8475268: 'Gabriel Bourque',
 8475225: 'Craig Smith',
 8471228: 'Alexander Radulov',
 8467977: 'Brian McGrattan',
 8474552: 'Fabian Brunnstrom',
 8474591: 'Tom McCollum',
 8475802: 'Louis-Marc Aubry',
 8474873: 'Brian Lashoff',
 8474874: 'Travis Ehrhardt',
 8468090: 'Garnet Exelby',
 8474815: 'Francis Pare',
 8467332: 'Bryan Allen',
 8462041: 'Radek Dvorak',
 8475758: 'Devante Smith-Pelly',
 8473972: 'Jonas Hiller',
 8473933: 'Ben Lovejoy',
 8471676: 'Bobby Ryan',
 8470621: 'Corey Perry',
 8472370: 'Jordan Hendry',
 8475883: 'Frederik Andersen',
 8475162: 'Mat Clark',
 8469483: 'David Steckel',
 8474034: 'Patrick Maroon',
 8467400: 'Francois Beauchemin',
 8470317: 'Nate Guenin',
 8468695: 'Matthew Lombardi',
 8471521: 'Brad Staubitz',
 8475764: 'Cam Fowler',
 8476854: 'Hampus Lindholm',
 8476384: 'Max Friberg',
 8475770: 'Emerson Etem',
 8460561: 'Sheldon Souray',
 8474009: 'Nick Bonino',
 8471699: 'Andrew Cogliano',
 8475222: 'Sami Vatanen',
 8476434: 'John Gibson',
 8475180: 'Peter Holland',
 8459442: 'Saku Koivu',
 8465042: 'Toni Lydman',
 8457981: 'Teemu Selanne',
 8470612: 'Ryan Getzlaf',
 8474579: 'Luca Sbisa',
 8473492: 'Matt Beleskey',
 8477215: 'Danny DeKeyser',
 8475151: 'Kyle Palmieri',
 8476483: 'Rickard Rakell',
 8475251: 'Igor Bobkov',
 8471428: 'Pierre-Luc Letourneau-Leblond',
 8466285: 'Brian Campbell',
 8458543: 'Jassen Cullimore',
 8460527: 'Ryan Johnson',
 8470084: 'Hannu Toivonen',
 8470329: 'Chris Campoli',
 8465170: 'Fernando Pisani',
 8468518: 'Tomas Kopecky',
 8468510: 'Jeff Taffe',
 8471426: 'Troy Brouwer',
 8473722: 'John Scott',
 8475095: 'Alec Richards',
 8475074: 'Brian Connelly',
 8473970: 'Rob Klinkhammer',
 8471239: 'Cory Schneider',
 8474628: 'Michael Stone',
 8475839: 'Louis Domingue',
 8471232: 'Lauri Korpikoski',
 8476206: 'Andy Miele',
 8474107: 'Maxim Goncharov',
 8471680: 'Gilbert Brule',
 8462036: 'Daymond Langkow',
 8462038: 'Shane Doan',
 8468535: 'Antoine Vermette',
 8470713: 'Paul Bissonnette',
 8470719: 'Alexandre Bolduc',
 8473589: 'Chris Summers',
 8458537: 'Ray Whitney',
 8473673: 'David Schlemko',
 8471691: 'Martin Hanzal',
 8464966: 'Derek Morris',
 8475171: 'Oliver Ekman-Larsson',
 8459053: 'Adrian Aucoin',
 8471735: 'Keith Yandle',
 8468484: 'Rostislav Klesla',
 8468085: 'Radim Vrbata',
 8474720: 'Brett Hextall',
 8475216: 'Ethan Werek',
 8475224: 'Jordan Szwarz',
 8476473: 'Connor Murphy',
 8474571: 'Mikkel Boedker',
 8475182: 'David Rundblad',
 8474050: 'Brett MacLean',
 8471821: 'Matt Watkins',
 8471302: 'Justin Pogge',
 8471231: 'Kyle Chipchura',
 8473658: 'Victor Bartley',
 8471483: 'Kyle Wilson',
 8474092: 'Jeremy Smith',
 8468540: 'Dan Ellis',
 8467844: 'Jason Blake',
 8459587: 'Todd Marchant',
 8468095: 'George Parros',
 8474598: 'Nicolas Deschamps',
 8474646: 'Brandon McMillan',
 8467393: 'Jarkko Ruutu',
 8467304: 'Andy Sutton',
 8468598: 'Lubomir Visnovsky',
 8475105: 'Dan Sexton',
 8464984: 'Josh Green',
 8474765: 'Anders Lindback',
 8459596: 'Andrew Brunette',
 8471279: 'Sami Lepisto',
 8459461: 'Brendan Morrison',
 8474103: 'Joe Lavin',
 8474709: 'Matt Martin',
 8467931: 'Matt Carkner',
 8468101: 'Radek Martinek',
 8470144: 'Frans Nielsen',
 8475314: 'Anders Lee',
 8475754: 'Brock Nelson',
 8474666: 'David Ullstrom',
 8475166: 'John Tavares',
 8473584: 'Andrew MacDonald',
 8476458: 'Ryan Strome',
 8473546: 'Michael Grabner',
 8475177: 'Calvin de Haan',
 8464967: 'Marty Reasoner',
 8469779: 'Keith Aucoin',
 8474604: 'Aaron Ness',
 8470644: 'Colin McDonald',
 8473514: 'Jesse Joensuu',
 8474573: 'Josh Bailey',
 8474690: 'Kevin Poulin',
 8473565: 'Brian Strait',
 8474659: 'Matt Donovan',
 8473449: 'Kyle Okposo',
 8471701: 'Joe Finley',
 8474612: 'Travis Hamonic',
 8470852: 'Matt Moulson',

Vamos criar DataFrames para as nacionalidades e as posições. Usando a variável `player_id` como índice

In [59]:
# nationality game_skater_stats
nation_dict = player_info.set_index('player_id')['nationality'].to_frame()
# Visualizando dicionario natio_dict
print(nation_dict.head())
# position game_skater_stats
position = player_info.set_index('player_id')['primaryPosition'].to_frame()
# Visualizando posicoes
print(f"\n{position.head()}")

          nationality
player_id
8467412           UKR
8468501           RUS
8459670           FIN
8471233           CAN
8455710           CAN

          primaryPosition
player_id
8467412                LW
8468501                 D
8459670                 D
8471233                 C
8455710                 G

Agora vamos trabalhar nos conjuntos de dados

## Conjunto de Dados `nhl_eda`

### Substituindo valores

In [60]:
# Substituindo valores 
nhl_eda['team_id'].replace(team_dict, inplace=True)
nhl_eda['away_team_id'].replace(team_dict, inplace=True)
nhl_eda['home_team_id'].replace(team_dict, inplace=True)

### Excluir colunas desnecessárias
Algumas colunas não serão necessárias para as nossas análises por serem redundantes. Vamos excluí-las

In [61]:
# selecionando colunas que seram excluidas
cols_drop = ['date_time_GMT', 'outcome', 'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
             'venue_time_zone_offset', 'venue_time_zone_tz']

# excluindo colunas 
nhl_eda = nhl_eda.drop(labels=cols_drop, axis=1)

### Mudando tipo dos dados

Outro ajuste interessante a se fazer diz respeito a coluna `date_time`. Isso porque o quando o carregamos os dados para o DataFrame o pandas pode interpretar os dados de forma incorreta. O pandas interpretou nossa coluna `data_time` como sendo do tipo *object*. Para convertê-las e poder usar as funções de séries temporais vamos utilizar a biblioteca *datetime*.

In [62]:
# mudando tipo da variavel date_time
for column in ['date_time']:
    nhl_eda[column] = pd.to_datetime(nhl_eda[column], errors='coerce')

### Criando novas colunas/variáveis (*features*)

Vamos adicionar a coluna `outcome` ao nosso conjunto de dados nhl_eda que vai mapear e os dados da coluna `won`  e vai substituir `False` por `Lose` e `True` para `Win`. Depois vamos excluir a coluna `won`.

In [63]:
# criando coluna resultado
nhl_eda['outcome'] = nhl_eda['won'].map({False:'Lose', True:'Win'})

# excluindo coluna redundante
nhl_eda.drop('won', axis=1, inplace=True)

Outra coluna que adicionaremos é a dos gols tomados (`GA`). Para isso, vamos filtrar em nosso conjunto de dados os gols que os times tomaram quando jogaram como visitante e mandante. Depois vamos concatenar o resultado ao nosso conjunto de dados `nhl_eda`.

In [64]:
# lista que vai conter nome dos times
team_list = nhl_eda['team_id'].unique()

# dicionario que vai armezenar nossos resultados
series = dict()

# laço for para iterar sobre cada valor da lista
for name in team_list:
    # cria o subset em cima do nome
    goals_filtered = nhl_eda[nhl_eda['team_id'] == name ]
    
    # filtrando gols tomados por times mandantes e criando um series orientado pelo indice
    gols_tomados_times_mandantes = goals_filtered[(goals_filtered['team_id'] == name ) & (goals_filtered['HoA'] == 'away') & 
                                           (goals_filtered['away_team_id']== name )]['home_goals']
    
    # filtrando gols tomados por times visitantes e criando um series orientado pelo indice
    gols_tomados_times_visitantes = goals_filtered[(goals_filtered['HoA']=='home') & (goals_filtered['team_id']== name) & 
                                            (goals_filtered['home_team_id']== name)]['away_goals']
    
    # concatenando as series criadas e convertando em DataFrame
    GA = pd.concat([gols_tomados_times_mandantes, gols_tomados_times_visitantes]).to_frame(name='GA')
    
    # armazenando testeGA ao nosso dict 
    series[name] = GA


    
list_values = list()
for values in series.values():
    list_values.append(values)
    
    
GA = pd.concat(list_values)


# combinando nosso conjunto de dados ao do gols tomados
nhl_eda = pd.concat([nhl_eda, GA], axis=1)

Com isso podemos excluir as colunas `'away_team_id','home_team_id','away_goals', 'home_goals'` pois as mesma ficaram redudantes.

In [65]:
# excluindo colunas redundantes
nhl_eda.drop(['away_team_id','home_team_id','away_goals', 'home_goals'], axis=1, inplace=True)

In [66]:
# reordenando e renomeando colunas
nhl_eda = nhl_eda[['game_id', 'season', 'type', 'date_time', 'team_id','goals', 'GA',
                   'HoA','outcome','settled_in', 'head_coach', 'shots', 'hits', 'pim',
                   'powerPlayOpportunities', 'powerPlayGoals', 'faceOffWinPercentage','giveaways',
                   'takeaways']].rename(columns={'team_id':'team_name',
                                                 'goals':'GF'})

Vamos ver como ficou nosso novo conjunto de dados apos todas a mudancas

In [67]:
nhl_eda.head()

,game_id,season,type,date_time,team_name,GF,GA,HoA,outcome,settled_in,head_coach,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,20112012,P,2012-04-29,Devils,3,4,away,Lose,OT,Peter DeBoer,26,31,12,3,1,44.9,6,7
1,2011030221,20112012,P,2012-04-29,Flyers,4,3,home,Win,OT,Peter Laviolette,36,27,6,6,1,55.1,13,4
2,2011030222,20112012,P,2012-05-01,Devils,4,1,away,Win,REG,Peter DeBoer,35,32,12,4,0,50.9,8,7
3,2011030222,20112012,P,2012-05-01,Flyers,1,4,home,Lose,REG,Peter Laviolette,20,24,32,5,0,49.1,9,6
4,2011030223,20112012,P,2012-05-03,Flyers,3,4,away,Lose,OT,Peter Laviolette,28,28,4,5,1,50.8,2,1

## Exportando novo conjunto de dados

In [68]:
nhl_eda_cleaned = nhl_eda.to_csv('datasets/nhl_eda.csv', header=True, index=False)

In [69]:
# criando df com game_id e o ano
season_df = nhl_eda[['game_id','season']]
season_df.head()

      game_id    season
0  2011030221  20112012
1  2011030221  20112012
2  2011030222  20112012
3  2011030222  20112012
4  2011030223  20112012

Obs:
* Nos Gols Tomados estao incluidos as derrotas no shoot-out, mas apenas o numero de derrotas e nao o numero de gols tomados.

## Conjunto de Dados `game_golie_stats`

In [76]:
game_golie_stats.shape[0]/2

24646.0

### Substituindo valores

In [72]:
# substituindo valores da coluna team_id 
game_golie_stats['team_id'].replace(team_dict, inplace=True)

# substituindo valores da coluna player_id
game_golie_stats['player_id'].replace(player_dict, inplace=True)

### Criando novas coluna (*feature*)
Vamos estar adicionando a coluna de gols tomados. Que vai ser o numero de tiros recebidos (*shots*) menos o numero de defesas (*safes*). Outra coluna que vamos estar inserindo e a `season`.

In [73]:
# add coluna com o numero de gols tomados
game_golie_stats['GA'] = game_golie_stats['shots'] - game_golie_stats['saves']

# add coluna season
game_golie_stats = pd.merge(left=game_golie_stats, right=season_df, how='left', left_on='game_id', right_on='game_id')

Ao adicionar a coluna `season` nosso conjunto de dados duplicou as linhas. Para resolver essa questao vamos estar excluindo essa colunas repetidas utilizando a funcao `pd.iloc[]` onde vamos pular os dados repetidos.

In [78]:
# retirando valores iguais
game_golie_stats = game_golie_stats.iloc[::2]

In [81]:
# reordenando e renomeando as colunas
game_golie_stats = game_golie_stats[['game_id','season','team_id','player_id','timeOnIce',
                                     'assists','goals','pim','shots','saves','GA','powerPlaySaves',
                                     'shortHandedSaves','evenSaves','shortHandedShotsAgainst',
                                     'evenShotsAgainst','powerPlayShotsAgainst','savePercentage',
                                     'powerPlaySavePercentage','evenStrengthSavePercentage','decision'
                                    ]].rename(columns={'goals':'GF', 'team_id':'team_name',
                                                      'player_id':'golie_name'})

In [82]:
# DF final
game_golie_stats.head()

,game_id,season,team_name,golie_name,timeOnIce,assists,GF,pim,shots,saves,GA,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage,decision
0,2011030221,20112012,Devils,Martin Brodeur,3876,0,0,0,36,32,4,7,0,25,0,28,8,88.888889,87.5,89.285714,L
2,2011030221,20112012,Flyers,Ilya Bryzgalov,3876,0,0,0,26,23,3,4,5,14,5,16,5,88.461538,80.0,87.500000,W
4,2011030222,20112012,Devils,Martin Brodeur,3599,0,0,0,20,19,1,1,3,15,3,16,1,95.000000,100.0,93.750000,W
6,2011030222,20112012,Flyers,Ilya Bryzgalov,3559,0,0,0,34,31,3,6,0,25,0,28,6,91.176471,100.0,89.285714,L
8,2011030223,20112012,Flyers,Ilya Bryzgalov,4623,0,0,0,31,27,4,1,1,25,1,28,2,87.096774,50.0,89.285714,L

## Exportando conjunto de dados preparado

In [83]:
game_golie_stats_cleaned = game_golie_stats.to_csv('datasets/game_goalie_stats_cleaned.csv', header=True, index=False)

## Conjunto de Dados `game_skater_stats`

### Unindo conjuntos de dados

In [ ]:
# junto os cnjunto de dados
game_skater_stats = pd.merge(game_skater_stats, nation_dict, on='player_id')
game_skater_stats = pd.merge(game_skater_stats, position, on='player_id')
game_skater_stats = pd.merge(left=game_skater_stats, right=season_df, how='left', left_on='game_id', right_on='game_id')

In [ ]:
# retirando valores iguais
game_skater_stats = game_skater_stats.iloc[::2]

### Substituindo valores

In [ ]:
# substituindo ids pelos nomes
game_skater_stats['team_id'].replace(team_dict, inplace=True)
game_skater_stats['player_id'].replace(player_dict, inplace=True)

In [ ]:
game_skater_stats.shape

In [ ]:
game_skater_stats.head()

### Adicionando novas colunas (*features*)

In [ ]:
# add coluna power play points. soma dos gols e assistencias no power play
game_skater_stats['PPP'] = game_skater_stats['powerPlayGoals'] + game_skater_stats['powerPlayAssists']

# add coluna points. soma dos gols e assistencias
game_skater_stats['points'] = game_skater_stats['goals'] + game_skater_stats['assists']

In [ ]:
# reordenando e renomeando colunas
game_skater_stats = game_skater_stats[['game_id','season','team_id', 'player_id','nationality','primaryPosition',
                                      'timeOnIce','goals', 'assists', 'points','shots', 'hits', 'powerPlayGoals',
                                      'powerPlayAssists','PPP', 'penaltyMinutes','faceOffWins', 'faceoffTaken',
                                      'takeaways', 'giveaways','shortHandedGoals', 'shortHandedAssists',
                                      'blocked', 'plusMinus', 'evenTimeOnIce', 'shortHandedTimeOnIce',
                                      'powerPlayTimeOnIce',
                                     ]].rename(columns={'team_id':'team_name',
                                                       'player_id':'player_name'})

In [ ]:
game_skater_stats.sample(5)

### Functions

# Conjunto de dados *game_plays* e *game_plays_players*

In [ ]:
# carregando conjunto de dados em blocos
game_plays = pd.read_csv("nhl_datasets/game_plays.csv", chunksize=5000)

chunk_list = []  # lista que vai armazenar os blocos

# iterar sobre os blocos
for chunk in game_plays:
    
    # armazenando os blocos
    chunk_list.append(chunk)

# concatenando os blocos
game_plays = pd.concat(chunk_list)

In [ ]:
# carregando conjunto de dados em blocos
game_plays_players = pd.read_csv("nhl_datasets/game_plays_players.csv", chunksize=5000)

chunk_list = []  # lista que vai armazenar os blocos

# iterar sobre os blocos
for chunk in game_plays_players:
    
    # armazenando os blocos
    chunk_list.append(chunk)

# concatenando os blocos
game_plays_players = pd.concat(chunk_list)

## Relacionando os conjunto de dados
Vamos unir os dois conjuntos de dados na variavel comum `play_id`

In [ ]:
plays = pd.merge(game_plays, game_plays_players[['player_id', 'play_id']], on='play_id')

In [ ]:
# visualizando o conjunto de dados
plays.sample(3)