# Data Cleaning
Aqui vamos realizar toda a etapa de limpeza dos dados para nossa analise de dados

# Importando bibliotecas

In [1]:
# bibliotecas
import numpy as np
import pandas as pd
import datetime

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import altair as alt

# Importar os conjuntos de dados

In [2]:
# importar os conjuntos de dados

# game: Reúne os registros de cada jogo no conjunto de dados
game = pd.read_csv("https://raw.githubusercontent.com/DanOliveira-DS/NHL/master/datasets/game.csv")

# game_golie_stats: As estatísticas dos goleiros que participaram dos jogos
game_golie_stats = pd.read_csv("https://raw.githubusercontent.com/DanOliveira-DS/NHL/master/datasets/game_goalie_stats.csv")

# game_teams_stats: As estatísticas básicas das equipes. Cada jogo terá duas entradas nesta tabela, uma para cada equipe
game_teams_stats = pd.read_csv("https://raw.githubusercontent.com/DanOliveira-DS/NHL/master/datasets/game_teams_stats.csv")

# player_info: Informações sobre os jogadores
player_info = pd.read_csv("https://raw.githubusercontent.com/DanOliveira-DS/NHL/master/datasets/player_info.csv")

# team_info: informação sobre as equipes
team_info = pd.read_csv("https://raw.githubusercontent.com/DanOliveira-DS/NHL/master/datasets/team_info.csv")

## Primeiras entradas

In [3]:
game.head(3)

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
1,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,home win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT

In [4]:
game.dtypes

game_id                    int64
season                     int64
type                      object
date_time                 object
date_time_GMT             object
away_team_id               int64
home_team_id               int64
away_goals                 int64
home_goals                 int64
outcome                   object
home_rink_side_start      object
venue                     object
venue_link                object
venue_time_zone_id        object
venue_time_zone_offset     int64
venue_time_zone_tz        object
dtype: object

In [5]:
team_info.head(3)

   team_id  franchiseId     shortName teamName abbreviation              link
0        1           23    New Jersey   Devils          NJD   /api/v1/teams/1
1        4           16  Philadelphia   Flyers          PHI   /api/v1/teams/4
2       26           14   Los Angeles    Kings          LAK  /api/v1/teams/26

In [6]:
team_info.dtypes

team_id          int64
franchiseId      int64
shortName       object
teamName        object
abbreviation    object
link            object
dtype: object

In [7]:
game_teams_stats.head(3)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,1,away,False,OT,Peter DeBoer,3,26,31,12,3,1,44.9,6,7
1,2011030221,4,home,True,OT,Peter Laviolette,4,36,27,6,6,1,55.1,13,4
2,2011030222,1,away,True,REG,Peter DeBoer,4,35,32,12,4,0,50.9,8,7

In [8]:
game_teams_stats.dtypes

game_id                     int64
team_id                     int64
HoA                        object
won                          bool
settled_in                 object
head_coach                 object
goals                       int64
shots                       int64
hits                        int64
pim                         int64
powerPlayOpportunities      int64
powerPlayGoals              int64
faceOffWinPercentage      float64
giveaways                   int64
takeaways                   int64
dtype: object

In [9]:
player_info.head()

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,link
0,8467412,Alexei,Ponikarovsky,UKR,Kiev,LW,1980-04-09,/api/v1/people/8467412
1,8468501,Anton,Volchenkov,RUS,Moscow,D,1982-02-25,/api/v1/people/8468501
2,8459670,Kimmo,Timonen,FIN,Kuopio,D,1975-03-18,/api/v1/people/8459670
3,8471233,Travis,Zajac,CAN,Winnipeg,C,1985-05-13,/api/v1/people/8471233
4,8455710,Martin,Brodeur,CAN,Montreal,G,1972-05-06,/api/v1/people/8455710

In [10]:
player_info.dtypes

player_id           int64
firstName          object
lastName           object
nationality        object
birthCity          object
primaryPosition    object
birthDate          object
link               object
dtype: object

In [11]:
game_golie_stats.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,2011030221,8455710,1,3876,0,0,0,36,32,7,0,25,0,28,8,L,88.888889,87.5,89.285714
1,2011030221,8468524,4,3876,0,0,0,26,23,4,5,14,5,16,5,W,88.461538,80.0,87.500000
2,2011030222,8455710,1,3599,0,0,0,20,19,1,3,15,3,16,1,W,95.000000,100.0,93.750000
3,2011030222,8468524,4,3559,0,0,0,34,31,6,0,25,0,28,6,L,91.176471,100.0,89.285714
4,2011030223,8468524,4,4623,0,0,0,31,27,1,1,25,1,28,2,L,87.096774,50.0,89.285714

In [12]:
game_golie_stats.dtypes

game_id                         int64
player_id                       int64
team_id                         int64
timeOnIce                       int64
assists                         int64
goals                           int64
pim                             int64
shots                           int64
saves                           int64
powerPlaySaves                  int64
shortHandedSaves                int64
evenSaves                       int64
shortHandedShotsAgainst         int64
evenShotsAgainst                int64
powerPlayShotsAgainst           int64
decision                       object
savePercentage                float64
powerPlaySavePercentage       float64
evenStrengthSavePercentage    float64
dtype: object

Nosso objetivo é preparar os conjuntos de dados para as nossas analises. Algumas das etapas que vamos realizar....

# Vamos relacionar os conjuntos de dados
Os conjuntos de dados que vamos relacionar são `game` com `game_team_stats` em cima da variavel `game_id`. Nosso novo conjunto de dados vai chamar `nhl_eda`. Ele vai ser nosso conjunto de dados principal onde vamos realizar nossas analises em cima dos times. Os outros conjuntos de dados `game_skater_stats` e `game_golie_stats` vao servir paras as analises dos jogadores.

In [13]:
# game com game_teams_stats
nhl_eda = pd.merge(game, game_teams_stats, on='game_id')

In [14]:
nhl_eda.head()

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,1,away,False,OT,Peter DeBoer,3,26,31,12,3,1,44.9,6,7
1,2011030221,20112012,P,2012-04-29,2012-04-29T19:00:00Z,1,4,3,4,home win OT,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,4,home,True,OT,Peter Laviolette,4,36,27,6,6,1,55.1,13,4
2,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,1,away,True,REG,Peter DeBoer,4,35,32,12,4,0,50.9,8,7
3,2011030222,20112012,P,2012-05-01,2012-05-01T23:30:00Z,1,4,4,1,away win REG,right,Wells Fargo Center,/api/v1/venues/null,America/New_York,-4,EDT,4,home,False,REG,Peter Laviolette,1,20,24,32,5,0,49.1,9,6
4,2011030223,20112012,P,2012-05-03,2012-05-03T23:30:00Z,4,1,3,4,home win OT,left,Prudential Center,/api/v1/venues/null,America/New_York,-4,EDT,4,away,False,OT,Peter Laviolette,3,28,28,4,5,1,50.8,2,1

# Preparando os dados
As variáveis: `away_team_id`, `home_team_id`, `team_id`, `player_id` categorizam os times e os jogadores através de números únicos (*id*) como mostrado nos conjuntos de dados [`team_info`, `player_info`]. Isso deixa nossas análises menos legíveis porque sempre vamos precisar recorrer a estes conjuntos de dados para identificar seus valores. Uma alternativa para essa questão e mapear esses números identificadores aos respectivos valores e substitui-los no conjunto de dados que vamos utilizar para nossa análise exploratória.

Existem diversas formas de abordar essa questão. No meu caro criarei um dicionário com a função `to_dict()`. Onde nossa chave (*key*) será o número identificador (*id*) e os valores (*value*) o nome do time ou jogador. Para substituir os valores vamos selecionar a coluna no conjunto de dados e chamar a função `replace()` passando como parâmetro nosso dicionário.

Para o dicionário que vai conter o nome dos jogadores, vamos criar uma coluna no conjunto de dados denominada `full_name` que vai ser a junção da variável `firstName` e `lastName`. Assim nosso o número identificador vai ficar associado ao nome completo do jogador. Realizaremos esse procedimento para evitar sobrenomes (`lastName`) iguais.


**Obs:. Para não criar confusão vamos trabalhar em um conjunto de dados por vez**

## Mapeando valores

In [15]:
# Dicionário dos times
team_dict = team_info.set_index('team_id')['teamName'].to_dict()

In [16]:
# criando coluna que vai conter o primeiro e o ultimo nome
player_info['player_name'] = player_info['firstName'] + " " + player_info['lastName']

# dict onde key=player-id e value=nome
player_dict = player_info.set_index('player_id')['player_name'].to_dict()

In [17]:
# nationality game_skater_stats
nation_dict = player_info.set_index('player_id')['nationality'].to_frame()

# position game_skater_stats
position = player_info.set_index('player_id')['primaryPosition'].to_frame()

## Conjunto de Dados `nhl_eda`

### Substituindo valores

In [18]:
# Substituindo valores 
nhl_eda['team_id'].replace(team_dict, inplace=True)
nhl_eda['away_team_id'].replace(team_dict, inplace=True)
nhl_eda['home_team_id'].replace(team_dict, inplace=True)

### Excluir colunas desnecessárias
Algumas colunas não serão necessárias para as nossas análises por serem redundantes. Vamos excluí-las

In [19]:
# selecionando colunas que seram excluidas
cols_drop = ['date_time_GMT', 'outcome', 'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
             'venue_time_zone_offset', 'venue_time_zone_tz']

# excluindo colunas 
nhl_eda = nhl_eda.drop(labels=cols_drop, axis=1)

### Mudando tipo dos dados

Outro ajuste interresante a se fazer diz respeito a coluna `date_time`. Isso porque o quando o carregamos os dados para o DataFrame o pandas pode interpretar os dados de forma incorreta. Como podemos ver nossa coluna `data_time` tem o tipo *object* (*strig*). Para converte-las e poder usar series temporais vamos utilizar a biblioteca *datetime*.

In [20]:
# mudando tipo da variavel date_time
for column in ['date_time']:
    nhl_eda[column] = pd.to_datetime(nhl_eda[column], errors='coerce')

### Criando novas colunas (*features*)

Vamos adicionar a coluna `outcome` ao nosso conjunto de dados nhl_eda que vai mapear e os dados da coluna `won`  e vai substituir `False` por `Lose` e `True` para `Win`. Depois vamos excluir a coluna `won` por ser tratar de uma coluna redundante.

In [21]:
# criando coluna resultado
nhl_eda['outcome'] = nhl_eda['won'].map({False:'Lose', True:'Win'})

# excluindo coluna redundante
nhl_eda.drop('won', axis=1, inplace=True)

Outra coluna que adicionaremos é a dos gols tomados (GA). Vamos seguir algumas etapas:
* Vamos criar uma lista com os nomes dos times;
* Criar um dicionário que vai armazenar os gols tomados. dict = {key} = nome do time : {value} = gols tomados
* Vamos realizar um loop for que vai iterar sobre os elementos da lista que criamos anteriormente.
    * Dentro do nosso loop ele vai criar um subset para cada time
    * Teremos duas variáveis gols_tomados_times_mandantes e gols_tomados_times_visitantes. A primeira variável vai armazenar os gols tomados quando o time está jogando como visitante e a outra variável quando o time esta jogando como mandante.
    * Isso vai criar dois objetos do tipo pd.Series que vamos concatenar utilizando a função pd.concat() que vamos transformar no tipo DataFrame com a função to_frame()
    * por ultimo vamos salvar nosso conjunto de dados ao nosso dicionário.
* Fora do loop vamos salvar todos os valores um uma lista e concatenar em um único DataFrame que será utilizado para gerar nossa coluna no conjunto de dados nhl_eda

In [22]:
# lista que vai conter nome dos times
team_list = nhl_eda['team_id'].unique()

# dicionario que vai armezenar nossos resultados
series = dict()

# laço for para iterar sobre cada valor da lista
for name in team_list:
    # cria o subset em cima do nome
    goals_filtered = nhl_eda[nhl_eda['team_id'] == name ]
    
    # filtrando gols tomados por times mandantes e criando um series orientado pelo indice
    gols_tomados_times_mandantes = goals_filtered[(goals_filtered['team_id'] == name ) & (goals_filtered['HoA'] == 'away') & 
                                           (goals_filtered['away_team_id']== name )]['home_goals']
    
    # filtrando gols tomados por times visitantes e criando um series orientado pelo indice
    gols_tomados_times_visitantes = goals_filtered[(goals_filtered['HoA']=='home') & (goals_filtered['team_id']== name) & 
                                            (goals_filtered['home_team_id']== name)]['away_goals']
    
    # concatenando as series criadas e convertando em DataFrame
    GA = pd.concat([gols_tomados_times_mandantes, gols_tomados_times_visitantes]).to_frame(name='GA')
    
    # armazenando testeGA ao nosso dict 
    series[name] = GA


    
list_values = list()
for values in series.values():
    list_values.append(values)
    
    
GA = pd.concat(list_values)

In [23]:
# combinando nosso conjunto de dados ao do gols tomados
nhl_eda = pd.concat([nhl_eda, GA], axis=1)

# excluindo colunas redundantes
nhl_eda.drop(['away_team_id','home_team_id','away_goals', 'home_goals'], axis=1, inplace=True)

In [24]:
# reordenando e renomeando colunas
nhl_eda = nhl_eda[['game_id', 'season', 'type', 'date_time', 'team_id','goals', 'GA',
                   'HoA','outcome','settled_in', 'head_coach', 'shots', 'hits', 'pim',
                   'powerPlayOpportunities', 'powerPlayGoals', 'faceOffWinPercentage','giveaways',
                   'takeaways']].rename(columns={'team_id':'team_name',
                                                 'goals':'GF'})

Nosso conjunto de dados ficou muito mais legivel agora.

In [25]:
nhl_eda.head(10)

,game_id,season,type,date_time,team_name,GF,GA,HoA,outcome,settled_in,head_coach,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2011030221,20112012,P,2012-04-29,Devils,3,4,away,Lose,OT,Peter DeBoer,26,31,12,3,1,44.9,6,7
1,2011030221,20112012,P,2012-04-29,Flyers,4,3,home,Win,OT,Peter Laviolette,36,27,6,6,1,55.1,13,4
2,2011030222,20112012,P,2012-05-01,Devils,4,1,away,Win,REG,Peter DeBoer,35,32,12,4,0,50.9,8,7
3,2011030222,20112012,P,2012-05-01,Flyers,1,4,home,Lose,REG,Peter Laviolette,20,24,32,5,0,49.1,9,6
4,2011030223,20112012,P,2012-05-03,Flyers,3,4,away,Lose,OT,Peter Laviolette,28,28,4,5,1,50.8,2,1
5,2011030223,20112012,P,2012-05-03,Devils,4,3,home,Win,OT,Peter DeBoer,31,30,10,2,1,49.2,11,4
6,2011030224,20112012,P,2012-05-06,Flyers,2,4,away,Lose,REG,Peter Laviolette,22,23,10,2,1,62.5,20,5
7,2011030224,20112012,P,2012-05-06,Devils,4,2,home,Win,REG,Peter DeBoer,43,19,4,5,1,37.5,5,3
8,2011030225,20112012,P,2012-05-08,Devils,3,1,away,Win,REG,Peter DeBoer,30,26,2,4,1,55.0,6,5
9,2011030225,20112012,P,2012-05-08,Flyers,1,3,home,Lose,REG,Peter Laviolette,28,38,8,1,0,45.0,14,7

Obs:
* Nos Gols Tomados estao incluidos as derrotas no shoot-out, mas apenas o numero de derrotas e nao o numero de gols tomados.

## Conjunto de Dados `game_golie_stats`

### Substituindo valores

In [26]:
# substituindo valores da coluna team_id 
game_golie_stats['team_id'].replace(team_dict, inplace=True)

# substituindo valores da coluna player_id
game_golie_stats['player_id'].replace(player_dict, inplace=True)

### Adicionando nova coluna (*feature*)
Vamos estar adicionando a coluna de gols tomados. Que vai ser o numero de tiros recebidos (*shots*) menos o numero de defesas (*safes*)

In [27]:
# add coluna com o numero de gols tomados
game_golie_stats['GA'] = game_golie_stats['shots'] - game_golie_stats['saves']

In [28]:
# reordenando e renomeando as colunas
game_golie_stats = game_golie_stats[['game_id','team_id','player_id','timeOnIce',
                                     'assists','goals','pim','shots','saves','GA','powerPlaySaves',
                                     'shortHandedSaves','evenSaves','shortHandedShotsAgainst',
                                     'evenShotsAgainst','powerPlayShotsAgainst','savePercentage',
                                     'powerPlaySavePercentage','evenStrengthSavePercentage','decision'
                                    ]].rename(columns={'goals':'GF', 'team_id':'team_name',
                                                      'player_id':'golie_name'})

In [29]:
# DF final
game_golie_stats.head()

,game_id,team_name,golie_name,timeOnIce,assists,GF,pim,shots,saves,GA,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage,decision
0,2011030221,Devils,Martin Brodeur,3876,0,0,0,36,32,4,7,0,25,0,28,8,88.888889,87.5,89.285714,L
1,2011030221,Flyers,Ilya Bryzgalov,3876,0,0,0,26,23,3,4,5,14,5,16,5,88.461538,80.0,87.500000,W
2,2011030222,Devils,Martin Brodeur,3599,0,0,0,20,19,1,1,3,15,3,16,1,95.000000,100.0,93.750000,W
3,2011030222,Flyers,Ilya Bryzgalov,3559,0,0,0,34,31,3,6,0,25,0,28,6,91.176471,100.0,89.285714,L
4,2011030223,Flyers,Ilya Bryzgalov,4623,0,0,0,31,27,4,1,1,25,1,28,2,87.096774,50.0,89.285714,L

## Conjunto de Dados `game_skater_stats`
Como trata de um arquivo grande ~400mil observação vamos passar o parametro chunksize para a função `pd.read_csv` que vai ler nosso conjunto de dados em blocos não sobrecarregando nosso memoria. Depois vamos iterar sobre cada bloco e concatenar em um unico DataFrame.

In [33]:
game_skater_stats = pd.read_csv("https://dl.dropbox.com/s/apvje2rso032qjm/game_skater_stats.csv?dl=0", chunksize=5000)

In [34]:
chunk_list = []  # append each chunk df here 

# Each chunk is in df format
for chunk in game_skater_stats:
    
    # Once the data filtering is done, append the chunk to list
    chunk_list.append(chunk)

# concatenando os blocos
game_skater_stats = pd.concat(chunk_list)

In [35]:
game_skater_stats.shape

(411578, 22)

In [36]:
game_skater_stats.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,penaltyMinutes,faceOffWins,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2011030221,8467412,1,999,0,0,1,3,0,0,0,0,0,0,0,0,0,0,-1,885,98,16
1,2011030221,8468501,1,1168,0,0,0,4,0,0,0,0,0,1,1,0,0,1,0,767,401,0
2,2011030221,8470609,1,558,0,0,2,1,0,0,0,0,2,0,0,0,0,1,-1,542,0,16
3,2011030221,8471816,1,1134,0,0,1,4,0,0,0,0,0,1,0,0,0,1,-1,935,183,16
4,2011030221,8472410,1,436,0,0,1,3,0,0,0,3,6,0,0,0,0,0,-1,436,0,0

### Unindo conjuntos de dados

In [37]:
# junto os cnjunto de dados
game_skater_stats = pd.merge(game_skater_stats, nation_dict, on='player_id')
game_skater_stats = pd.merge(game_skater_stats, position, on='player_id')

### Substituindo valores

In [38]:
# substituindo ids pelos nomes
game_skater_stats['team_id'].replace(team_dict, inplace=True)
game_skater_stats['player_id'].replace(player_dict, inplace=True)

In [39]:
game_skater_stats.shape

(411578, 24)

### Adicionando novas colunas (*features*)

In [40]:
# add coluna power play points. soma dos gols e assistencias no power play
game_skater_stats['PPP'] = game_skater_stats['powerPlayGoals'] + game_skater_stats['powerPlayAssists']

# add coluna points. soma dos gols e assistencias
game_skater_stats['points'] = game_skater_stats['goals'] + game_skater_stats['assists']

In [41]:
# reordenando e renomeando colunas
game_skater_stats = game_skater_stats[['game_id', 'team_id', 'player_id','nationality','primaryPosition',
                                      'timeOnIce','goals', 'assists', 'points','shots', 'hits', 'powerPlayGoals',
                                      'powerPlayAssists','PPP', 'penaltyMinutes','faceOffWins', 'faceoffTaken',
                                      'takeaways', 'giveaways','shortHandedGoals', 'shortHandedAssists',
                                      'blocked', 'plusMinus', 'evenTimeOnIce', 'shortHandedTimeOnIce',
                                      'powerPlayTimeOnIce',
                                     ]].rename(columns={'team_id':'team_name',
                                                       'player_id':'player_name'})

In [43]:
game_skater_stats.sample(5)

,game_id,team_name,player_name,nationality,primaryPosition,timeOnIce,goals,assists,points,shots,hits,powerPlayGoals,powerPlayAssists,PPP,penaltyMinutes,faceOffWins,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
277578,2017030152,Avalanche,Nathan MacKinnon,CAN,C,1498,1,1,2,6,0,0,1,1,0,2,11,0,2,0,0,1,0,1209,33,256
408396,2011020628,Ducks,Niklas Hagman,FIN,LW,908,0,1,1,1,1,0,0,0,0,0,0,1,1,0,0,1,2,809,93,6
403777,2018020135,Sabres,Rasmus Dahlin,SWE,D,1061,0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,1,0,814,0,247
163574,2014021223,Blue Jackets,Jack Johnson,USA,D,1586,0,1,1,4,0,0,0,0,2,0,0,0,0,0,0,4,0,1303,197,86
298513,2017020404,Predators,Mattias Ekholm,SWE,D,1507,0,0,0,0,2,0,0,0,2,0,0,0,2,0,0,0,-1,1225,108,174

Obs: para um panorama geral em relação a contagem de jogadores por nação e posição utilizar o dataset player_info. No conjunto de dados game_skater_stats temos valores duplicados porque os jogadores foram utilizados nas partidas.

Para uma leitura mais confiavel podemos remover os valores duplicados e fazer a verificação

In [52]:
game_skater_stats[game_skater_stats['player_name']== 'Connor McDavid']['PPP'].sum()

98

In [62]:
game_plays = pd.read_csv('nhl_datasets/game_plays.csv')
#game_plays_player.csv: https://dl.dropbox.com/s/9bafo0bjc1fs7wm/game_plays_players.csv?dl=0

In [63]:
game_plays.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
0,2011030221_1,2011030221,1,NaN,NaN,Game Scheduled,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 18:16:06,0,0,Game Scheduled,NaN,NaN,NaN
1,2011030221_2,2011030221,2,NaN,NaN,Period Ready,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 19:19:49,0,0,Period Ready,NaN,NaN,NaN
2,2011030221_3,2011030221,3,NaN,NaN,Period Start,NaN,NaN,NaN,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Period Start,NaN,NaN,NaN
3,2011030221_4,2011030221,4,4.0,1.0,Faceoff,NaN,0.0,0.0,1,REGULAR,0,1200,2012-04-29 19:20:13,0,0,Sean Couturier faceoff won against Patrik Elias,0.0,0.0,right
4,2011030221_5,2011030221,5,4.0,1.0,Giveaway,NaN,28.0,24.0,1,REGULAR,21,1179,2012-04-29 19:21:02,0,0,Giveaway by Kimmo Timonen,-28.0,-24.0,right

In [60]:
game_plays_player = pd.read_csv('nhl_datasets/game_plays_players.csv')

In [61]:
game_plays_player.head()

        play_id     game_id  play_num  player_id playerType
0  2011030221_4  2011030221         4    8476461     Winner
1  2011030221_4  2011030221         4    8460542      Loser
2  2011030221_5  2011030221         5    8459670   PlayerID
3  2011030221_6  2011030221         6    8470171    Blocker
4  2011030221_6  2011030221         6    8460542    Shooter

In [ ]:
game_plays['play_id'].replace(pla)